version: '2'

services:

  app:
    image: php:5.6.25-fpm
    links:
      - db
    volumes_from:
      - data

  db:
    image: mariadb:10.1.17
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes_from:
      - data

  web:
    build: ./nginx
    links:
      - app
      - db
    ports:
      - 80:80
      - 443:443
    volumes_from:
      - data

  db_admin_panel:
    image: phpmyadmin/phpmyadmin:latest
    links:
      - db
    ports:
      - 8001:80
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password

  data:
    build: ./data
    volumes:
      - ./debian_volume/public_html:/data
      - ./debian_volume/mysql_data:/var/lib/mysql
